body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.logo p {
  margin-left: 42px;
  color: white;
  font-size: 24px;
  font-weight: 800;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f6c532;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 42px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #e1da0b;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #e1da0b;
  color: white;
}

.sub-menu a {
  padding-left: 80px;
}

.input-group-text {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #e1da0b;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid lightgrey;
}

.profile p{
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
}

.btn-link{
  padding: 2px;
}

.judul p{
  font-size: 35px;
  font-weight: 600;
  font-family: "Poppins", Arial, sans-serif;
}

.col-md-6 {
    margin-top: 24px;
    margin-bottom: 7px;
}

.fixed-bottom {
    margin-left: 250px;
    background-color: white;
}

.tabelUser{
  margin-bottom: 70px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}